$font: Roboto, sans-serif;

@mixin roboto-text(){
  font:{
    family: $font;
    size: 15px;
  }
  line-height: 24px;
  color: #999999;
}

@mixin Kaushian-text{
  font:{
    family: 'Kaushan Script', sans-serif;
    size: 24px;
  }
  color: #333333;
}

@mixin Moster-text{
  font:{
    family: Montserrat, sans-serif;
    weight: bold;
    size: 30px;
  }
  line-height: 20px;
  color: #333333;
}

@mixin after-block($color, $top, $bottom) {
  &:after{
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: $color;
    margin: $top auto $bottom;
  }
}